@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.98 0.0057 308.4);
  --color-base-200: oklch(0.95 0.01 308.4);
  --color-base-300: oklch(0.92 0.015 308.4);
  --color-base-content: oklch(0.35 0.0737 288.31);
  --color-primary: oklch(0.35 0.0737 288.31);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(0.68 0.1179 298.69);
  --color-secondary-content: oklch(0.2 0.05 298.69);
  --color-accent: oklch(0.87 0.051 282.84);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(87% 0.006 286.286);
  --color-info: oklch(0.81 0.0769 251.73);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(0.87 0.1356 88.94);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(81% 0.117 11.638);
  --color-error-content: oklch(41% 0.159 10.272);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.19 0.0616 288.31);
  --color-base-200: oklch(12% 0.042 264.695);
  --color-base-300: oklch(0.26 0 0);
  --color-base-content: oklch(0.92 0.015 308.4);
  --color-primary: oklch(0.35 0.0737 288.31);
  --color-primary-content: oklch(0.92 0.015 308.4);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(0.35 0.0691 159.81);
  --color-accent-content: oklch(0.93 0.0987 159.81);
  --color-neutral: oklch(0.47 0.1702 300.21);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


body {
	@apply m-0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
